body {
    background-color: #0e1212;
}

#canvas {
    box-shadow: 0 0 0 6px black;
    width: 400px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: crosshair;
}